@import "tailwindcss";
:root{
    --background--cream: #f8ecdd;
    --text--brown: #5B2D2D;
    --text--gray : #30302e;

}
.cream{
    background-color: var(--background--cream);
}
.gray-border{
    border:1px solid #b2abab,
}
.brownish{
    color: var(--text--brown);
}
.gray{
    color: var(--text--gray);
}

.pacifico {
  font-family: "Pacifico", cursive;
  /* font-weight:bolder; */
  font-style: normal;
}
.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@keyframes onbaording-title{
    
}